.ui(class="inverted fluid accordion")
  .title
    i.dropdown.icon
    | Artboards
  .content
  .active.title
    i.dropdown.icon
    | Layers
  .active.content
    include /src/templates/details/layers-tool.pug
  .active.title
    i.dropdown.icon
    | Library
  .active.content
    include /src/templates/details/add-image.pug
#logo.ui.fluid.image.small(onclick='app.toolbar.toggle();' style="position: absolute; bottom: 0")
  a(href='#', title='Toggle Toolbars')
    img(src='/assets/manifold.svg')