.ui(class="inverted fluid accordion")
  .active.title
    i.dropdown.icon
    | Timeline
  .active.content
    #timeline
  .title
    i.dropdown.icon
    | Library
  .content
    include /src/templates/footer/library.pug
