.ui(class="inverted fluid accordion")
  .active.title
    i.dropdown.icon
    | Timeline
  .active.content
    include /src/templates/footer/timeline.pug
  .active.title
    i.dropdown.icon
    | Library
  .active.content
    include /src/templates/footer/library.pug
