.ui(class="inverted fluid accordion")
  .active.title
    i.dropdown.icon
    | Timeline
  .active.content
    include /src/templates/footer/timeline.pug
  .title
    i.dropdown.icon
    | Library
  .content
    include /src/templates/footer/library.pug
#logo.ui.fluid.image.small(onclick='app.toolbar.toggle();' style="position: absolute; bottom: 0")
  a(href='#', title='Toggle Toolbars')
    img(src='/assets/manifold.svg')