a.item#btnDrawTool
  i.icon.pencil.grey
a.item#btnAddText
  i.font.icon.grey
.ui.horizontal.divider.fitted.inverted
a.item#btnAddCircle
  i.circle.icon.green
a.item#btnAddSquare
  i.square.icon.red
a.item#btnAddTriangle
  i.play.icon.blue.counterclockwise.rotated
a.item#btnToggleOverlays
  i.eye.icon.grey
a.item#btnToggle3DOptions
  i.corner.snowflake.outline.icon.inverted.disabled

