include /src/templates/toolbar/add-image.pug
include /src/templates/toolbar/fill-tool.pug
include /src/templates/toolbar/layers-tool.pug
include /src/templates/toolbar/vector-tool.pug
include /src/templates/toolbar/3d-tool.pug
