#threeD-tool.floating
  .ui.header.tiny.grey Options for creating 3D objects from 2D
  .ui.card
    .content
      .ui.header.tiny
        i.snowflake.outline.icon
        | 3D options
    .content(style='box-shadow: inset 0 0 5px #ccc; padding: 1em;')
      .ui.header.tiny Select method
      select.ui.dropdown.fluid
        option(value='extrude', selected='') Extrude flat plane
        option(value='project') Project plane with persective
    .content(style='box-shadow: inset 0 0 5px #ccc; padding: 1em;')
      .ui.header.tiny Extrude Options
      .ui.mini.form
        .field
          label Extrude Vector
          select.ui.dropdown.fluid
            option Create volume
            option Rotate on Y axis
            option Custom rotation
        .field.inline
          label Amount
          input.ui.input(type='text',placeholder='20')
        .field.inline
          label Bevel
          input.ui.input(type='text',placeholder='1')
        