#active-object-context.ui.mini.menu.floating.labeled.icon
  a.item
    i.trash.alternate.icon
    | Delete
  a.item.disabled
    i.object.group.icon
    | Group (1)
  a.item
    i.tint.icon
    | Fill
  a.item
    i.pencil.alternate.icon
    | Stroke
  a.item.disabled
    i.paper.plane.outline.icon
    | Vector
