.active-object-context.floating.overlay.toggleable
  .ui.mini.menu.labeled.icon.pointing
    a.item#btnDeleteActive
      i.trash.alternate.icon
      | Delete
    a.item.disabled
      i.object.group.icon
      | Group (1)
    a.item.disabled
      i.object.ungroup.icon
      | Ungroup (1)
    a.item.disabled
      i.tint.icon
      | Fill
    a.item.disabled
      i.pencil.alternate.icon
      | Stroke
    a.item.disabled
      i.paper.plane.outline.icon
      | Vector
    a#btnToggle3DPreview.item.disabled
      i.snowflake.outline.icon
      | 3D
