#active-object-context.floating
  .ui.mini.menu.labeled.icon.pointing
    a.item
      i.trash.alternate.icon
      | Delete
    a.item.disabled
      i.object.group.icon
      | Group (1)
    a.item.disabled
      i.object.ungroup.icon
      | Ungroup (1)
    a.item.active
      i.tint.icon
      | Fill
    a.item
      i.pencil.alternate.icon
      | Stroke
    a.item.disabled
      i.paper.plane.outline.icon
      | Vector
