#add-image
  .ui.menu.labeled
    a.item.button.active#hideAddImage
      i.arrow.alternate.circle.left.icon.large
    a.item.image
      img#original-image.ui.fluid.small.image(src='/assets/shapes.png')
    a.item.image
      img.ui.fluid.image.small(src='/assets/demo.jpg')
    a.item.image
      img.ui.fluid.image.small(src='/assets/demo2.jpg')
    a.item.button#btnUploadImage
      i.add.icon
  input#image_input(type='file',accept='image/*')
