.item#btnBack
  i.large.arrow.left.icon
.menu
  .item
    h6.ui.header.inverted Shapes
  a.item#btnAddCircle
    i.circle.icon.large
  a.item#btnAddSquare
    i.square.icon.large
  a.item#btnAddTriangle
    i.play.icon.large
