a.item#btnBack
  i.large.arrow.left.icon.inverted
.item
  .menu
    .ui.horizontal.divider.fitted.inverted
      h6 Shapes
    a.item#btnAddCircle
      i.circle.icon.large.green
    a.item#btnAddSquare
      i.square.icon.large.red
    a.item#btnAddTriangle
      i.play.icon.large.blue.counterclockwise.rotated 
