.ui.horizontal.divider.fitted.inverted
  h6 Add
a.item#btnAddImage
  i.large.image.outline.icon.inverted.disabled
a.item#btnAddText
  i.large.font.icon.inverted
.ui.horizontal.divider.fitted.inverteds
a.item#btnAddCircle
  i.circle.icon.large.green
a.item#btnAddSquare
  i.square.icon.large.red
a.item#btnAddTriangle
  i.play.icon.large.blue.counterclockwise.rotated 

.ui.horizontal.divider.fitted.inverted
  h6 Demo
a.item#btnToggleOverlays
  i.large.eye.icon.inverted
a.item#btnToggleVector
  i.large.paper.plane.outline.icon.inverted.disabled
a.item#btnToggleLayers
  i.large.align.justify.icon.inverted.disabled
a.item#btnToggle3DOptions
  i.icons.large
    i.cog.icon.inverted.disabled
    i.corner.snowflake.outline.icon.inverted.disabled

