.ui.horizontal.divider.fitted.inverted
  h6 Add
a.item#btnAddImage
  i.large.icons
    i.image.icon.inverted.disabled
    i.corner.plus.icon.green.disabled
a.item#btnAddShape
  i.large.icons
    i.chart.pie.icon.inverted
    i.corner.plus.icon.green
a.item#btnAddText
  i.large.icons
    i.font.icon.inverted
    i.corner.plus.icon.green

.ui.horizontal.divider.fitted.inverted
  h6 Tools
a.item#btnToggleFill
  i.large.tint.icon.inverted.disabled
a.item#btnToggleVector
  i.large.paper.plane.outline.icon.inverted.disabled
a.item#btnToggleLayers
  i.large.align.justify.icon.inverted.disabled
a.item#btnToggle3DOptions
  i.icons.large
    i.cog.icon.inverted.disabled
    i.corner.snowflake.outline.icon.inverted.disabled

.ui.horizontal.divider.fitted.inverted
  h6 View
a.item#btnToggleOverlays
  i.large.eye.icon.inverted
a.item#btnToggle3DPreview
  i.icons.large
    i.expand.icon.inverted.disabled
    i.corner.snowflake.outline.icon.inverted.disabled
