#fill-tool.floating
  .ui.card
    .content
      .ui.horizontal.list
        .item
          span(style='background-color: #FFFF00; padding: 1em 2.35em; border: solid 1px #eee;') 
        .item
          .ui.input
            input(type='text', value='#FFFF00')
    .content
      img.ui.image(src='./assets/spectrum.jpg', style='border: solid 1px #eee; cursor: crosshair;')
