#fill-tool.floating
  .ui.card
    .content
      .ui.header.tiny Fill options
    .content(style='box-shadow: inset 0 0 5px #ccc; padding: 1em;')
      .ui.horizontal.list
        .item
          span(style='background-color: #FFFF00; padding: 1em 2.35em; border: solid 1px #eee;') 
        .item
          .ui.input
            input(type='text', value='#FFFF00')
    .content(style='overflow:hidden')
      img(src='./assets/spectrum.jpg', style='border: solid 1px #eee; cursor: crosshair; margin: -2em; width:120%')
