#layers-tool.floating.overlay(style='display: none')
  .ui.header.tiny.grey Can be launched from an upcoming context menu
  .ui.card
    .content
      .ui.header.tiny
        i.align.justify.icon
        | Layers
    .content
      .description
        .ui.divided.list(style='box-shadow: inset 0 0 5px #ccc; padding: 1em; margin: -1em;')
          .item
            .content
              a.description
                i.object.group.outline.icon
                | Group
          .item
            .content
              a.description
                i.image.icon
                | Raster Image
          .item
            .right.floated.content
              a.ui.link
                i.minus.icon.black
            .content
              a.description
                i.image.outline.icon
                | Vector Image
            .list
              .item
                i.file.outline.icon
                .content
                  a.description Path
              .item
                i.file.outline.icon
                .content
                  a.description Path
              .item
                i.file.outline.icon
                .content
                  a.description Path
              .item
                i.file.outline.icon
                .content
                  a.description Path
              .item
                i.file.outline.icon
                .content
                  a.description Path
              .item
                i.file.outline.icon
                .content
                  a.description Path
              .item
                i.file.outline.icon
                .content
                  a.description Path
