#layers-tool.floating.overlay
  .ui.card
    .content
      .ui.header.tiny
        i.align.justify.icon
        | Layers
    .content
      .description
        #layers.ui.divided.list(style='box-shadow: inset 0 0 5px #ccc; padding: 1em; margin: -1em;')
          .item
            .content
              a.description
                i.object.group.outline.icon
                | Example Group
          .item
            .right.floated.content
              a.ui.link
                i.minus.icon.black
            .content
              a.description
                i.image.outline.icon
                | Vector Image
            .list
              .item
                i.circle.icon
                .content
                  a.description Circle
              .item
                i.square.icon
                .content
                  a.description Rectangle
              .item
                i.play.counterclockwise.rotated.icon
                .content
                  a.description Triangle
              .item
                i.cube.icon
                .content
                  a.description 3D Shape
              .item
                i.i.cursor.icon
                .content
                  a.description Textbox
