#layers-tool.floating
  .ui.card
    .content
      .header Layers
      .description
        .ui.celled.list(style='border: solid 1px #eee; padding: 1em;')
          .item
            .right.floated.content
              a.ui.link
                i.minus.icon
            i.image.icon
            .content
              a.description Processed Image
              .list
                .item
                  i.file.outline.icon
                  .content
                    a.description Path
                .item
                  i.file.outline.icon
                  .content
                    a.description Path
                .item
                  i.file.outline.icon
                  .content
                    a.description Path
                .item
                  i.file.outline.icon
                  .content
                    a.description Path
                .item
                  i.file.outline.icon
                  .content
                    a.description Path
                .item
                  i.file.outline.icon
                  .content
                    a.description Path
                .item
                  i.file.outline.icon
                  .content
                    a.description Path
                .item
                  i.file.outline.icon
                  .content
                    a.description Path
