#model-preview-container.floating.overlay(style='display: none')
  .ui.header.tiny.grey Control the 3D output using a viewport preview
  .ui.card.fluid
    .content
      .ui.header.tiny
        i.icons.large
          | &nbsp;
          i.expand.icon
          i.snowflake.outline.icon
        | 3D Model Viewport
    .content
      #model-preview(style='box-shadow: inset 0 0 5px #ccc; margin: -1em;')