#vector-tool.floating
  .ui.header.tiny.grey Options for converting raster to vector
  .ui.card
    .content
      .ui.header.tiny
        i.paper.plane.outline.icon
        | Vector options
    .content(style='box-shadow: inset 0 0 5px #ccc; padding: 1em;')
      .ui.header.tiny Select method
      select.ui.dropdown.fluid
        option(value='imagetracer') Imagetracer
        option(value='potrace', selected='') Potrace
    .content(style='box-shadow: inset 0 0 5px #ccc; padding: 1em;')
      .ui.header.tiny Potrace Options
      .ui.mini.form
        .field
          label Turn Policy
          select.ui.dropdown.fluid
            option Black
            option White
            option Left
            option Right
            option Majority
            option Minority
        .field.inline
          label Turd Size
          input.ui.input(type='text',placeholder='2')
        .field.inline
          label Corner Threshold
          input.ui.input(type='text',placeholder='1')
        .field.inline
          label Curve Tolerance
          input.ui.input(type='text',placeholder='0.2')
        .field.inline
          .ui.checkbox
            input(type='checkbox')
            label Curve Optimisation