#library
  .ui.link.cards
    .ui.card(style="overflow: hidden")
      a.image(href='#')
        img(src='/assets/puppies.jpg' style="margin: -20% 0")
    .ui.card
      a.image(href='#')
        img(src='/assets/tux.png')
    .ui.card
      a.image(href='#')
        img(src='/assets/demo.jpg')
    .ui.card
      a.image(href='#')
        img(src='/assets/demo2.jpg')

    a.ui.button#btnUploadImage
      i.add.icon
      | Add Files
  input#image_input(type='file',accept='image/*')
