#timeline
  table.ui.inverted.structured.celled.compact.small.table
    thead
      - var n = 0;
      tr
        th
          .ui.compact.mini.icon.button
            i.icon.play
        while n < 51
          th= n++
    tbody
      - n = 0;
      tr
        th
        while n < 51
          td.selectable &nbsp;
          - n++