#timeline
  table.ui.inverted.structured.celled.compact.small.table
    thead
      - var n = 0;
      tr
        th(colspan=2) Frame
        while n < 51
          th= n++
    tbody
      - n = 0;
      tr
        td(colspan=2) Timeline 1
        while n < 51
          td.selectable
          - n++