.main.container,
.dg.ac
  padding-top: 7.6em

.dg.ac
	select,
	option
		color: #000000

.ui.white.button
	background-color: #FFFFFF
	&:hover
		box-shadow: 0 0 2px #FFFFFF
	&:active
		box-shadow: 0 0 5px #FFFFFF
