#vector-tool.floating.overlay(style="display: none")
  .ui.header.tiny.grey Options for converting image to vector
  .ui.card
    .content
      .ui.header.tiny
        i.paper.plane.outline.icon
        | Image to Vector
    .content
      .ui.header.tiny Select method
      .method
        .ui.radio.checkbox
          input(id="vctMthImg" type='radio' name='vector-method' value='imagetracer' checked="true")
          label(for="vctMthImg") Imagetracer
        hr
        .ui.radio.checkbox
          input(id="vctMthPo" type='radio' name='vector-method' value='potrace')
          label(for="vctMthPo") Potrace
    .content.imagetracer.controls
      .ui.header.tiny ImageTracer Options
      .ui.mini.form
        .field
          label Preset
          select.ui.dropdown.fluid.imagetracerConfig.preset
            option default
            option posterized1
            option posterized2
            option posterized3
            option curvy
            option sharp
            option detailed
            option smoothed
            option grayscale
            option fixedpalette
            option randomsampling1
            option randomsampling2
            option artistic1
            option artistic2
            option artistic3
            option artistic4
        .field
          label Number of Colours
          .ui.labeled.slider.imagetracerConfig.colours
    .content.potrace.controls
      .ui.header.tiny Potrace Options
      .ui.mini.form
        .field
          label Turn Policy
          select.ui.dropdown.fluid.potraceConfig.turnpolicy
            option Black
            option White
            option Left
            option Right
            option Majority
            option Minority
        .field.inline
          label Turd Size
          input.ui.input.potraceConfig.turdsize(type='number' value='100')
        .field.inline
          label Corner Threshold
          input.ui.input.potraceConfig.alphamax(type='number' value='1')
        .field.inline
          label Curve Tolerance
          input.ui.input.potraceConfig.opttolerance(type='number' step="0.1" value='0.2')
        .field.inline
          .ui.checkbox
            input.potraceConfig.optcurve(type='checkbox')
            label Curve Optimisation
    .extra.content
      .ui.buttons
        .ui.button#btnCreateVector Create
        .or
        .ui.button#btnReplaceVector Replace
