extends /src/templates/layout.pug

block append scripts
	script(src='./dist/app.js')

block append title
	| Manifold | Made in Kettlefish (https://github.com/paulbrzeski/kettlefish)

block append page
	.ui.inverted.top.fixed.menu
		.item
			.ui.fluid.image.small
				a(href='/', title='Manifold')
					img(src='./manifold.svg', style='filter: invert(100%);')
		.item
			h3 Select an image for processing:
		.item
			.ui.compact.button.js-change-image
				.ui.fluid.image.tiny
					img(src='./demo.jpg')
		.item
			.ui.compact.button.js-change-image
				.ui.fluid.image.mini
					img(src='./demo2.jpg')
		.item
			.ui.compact.button.js-change-image
				.ui.fluid.image.mini
					img(src='./demo3.png')
		.item
			.ui.compact.button.js-change-image
				.ui.fluid.image.mini
					img(src='./shapes.png')
		.item
			.ui.compact.button.js-change-image
				.ui.fluid.image.mini
					img(src='./bike.jpg')
	.ui.main.container
		.ui.stackable.two.column.grid
			.column
				h3 Original Bitmap
				.ui.fluid.image
					img#original-image(src='./demo.jpg')
			.column
				h3 imagetracejs Result
				#svg-preview.ui.fluid.image
					.ui.active.centered.inline.loader
		.ui.stackable.two.column.grid
			.column
				h3 Potrace Result
				#potrace-preview
					.ui.active.centered.inline.loader
			.column
				.row
					button.fluid.ui.button
						i.icon.clone.outline
						| Make it 3D!
				.row
					#model-preview
