extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Manifold | Made in Kettlefish (https://github.com/paulbrzeski/kettlefish)

block append page
  #toolbar.ui.very.thin.left.vertical.visible.sidebar.icon.menu
    include /src/templates/toolbar/default.pug
  #container.pusher
    #logo.ui.fluid.image.small(onclick='app.views.mainCanvas.toggleToolbar();')
      a(href='#', title='Toggle Toolbar')
        img(src='/assets/manifold.svg')
    canvas#main-canvas
    include /src/templates/toolbar/active-object-context.pug
    include /src/templates/toolbar/fill-tool.pug
    include /src/templates/toolbar/layers-tool.pug
    include /src/templates/toolbar/vector-tool.pug
    include /src/templates/toolbar/3d-tool.pug
    include /src/templates/toolbar/model-preview.pug
  .ui.dimmer.modals.top.aligned.page.transition.hidden
    .ui.fullscreen.special.modal.transition.hidden
      .header Select an image
      .content
        .ui.four.stackable.cards
          .card
            a.image
              img#original-image.ui.fluid.small(src='/assets/shapes.png')
          .card
            a.image
              img.ui.fluid.image.small(src='/assets/demo.jpg')
          .card
            a.image
              img.ui.fluid.image.small(src='/assets/demo2.jpg')
          .card
            .content
            .ui.bottom.attached.button
              i.add.icon
              | Upload
