extends /src/templates/layout.pug

block append scripts
	script(src='./dist/app.js')

block append title
	| Manifold | Made in Kettlefish (https://github.com/paulbrzeski/kettlefish)

block append page
	#logo.ui.fluid.image.small
		a(href='/', title='Manifold')
			img(src='/assets/manifold.svg', style='filter: invert(75%);')
	canvas#main-canvas
