extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Manifold | A hybrid 2D/3D design tool by Paul Brzeski

block append page
  #toolbar.ui.very.thin.left.vertical.visible.sidebar.icon.menu
    include /src/templates/toolbar.pug
  #details.ui.right.vertical.visible.sidebar.menu.inverted
    include /src/templates/details.pug
  #container.pusher
    canvas#main-canvas
    include /src/templates/toolbar_overlays.pug
