extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Manifold | A hybrid 2D/3D design tool by Paul Brzeski

block append page
  #toolbar.ui.very.thin.left.vertical.visible.sidebar.icon.menu
    include /src/templates/toolbar.pug
  #container.pusher
    canvas#main-canvas
    include /src/templates/toolbar_overlays.pug
  #details.ui.wide.right.vertical.visible.sidebar.icon.menu.inverted
    .ui(class="inverted fluid accordion")
      .title
        i.dropdown.icon
        | Artboards
      .content
      .active.title
        i.dropdown.icon
        | Layers
      .active.content
        include /src/templates/toolbar/layers-tool.pug
    #logo.ui.fluid.image.small(onclick='app.toolbar.toggle();' style="position: absolute; bottom: 0")
      a(href='#', title='Toggle Toolbars')
        img(src='/assets/manifold.svg')