extends /src/templates/layout.pug

block append scripts
	script(src='./dist/app.js')

block append title
	| Manifold | Made in Kettlefish (https://github.com/paulbrzeski/kettlefish)

block append page
	.ui.inverted.top.fixed.menu
		.item
			.ui.fluid.image.small
				img(src='./manifold.svg',style='filter: invert(100%);')
	.ui.main.container
		.ui.stackable.two.column.grid
			.column
				h3 Original Bitmap
				.ui.fluid.image
					img#original-image(src='./demo.jpg')
			.column
				h3 SVG Result
				#svg-preview.ui.fluid.image
		.ui.stackable.one.column.grid
			.row
				button.fluid.ui.button
					i.icon.clone.outline
					| Make it 3D!
			.row
				#model-preview
