#library
  a.ui.image.button
    img.ui.tiny.image(src='/assets/puppies.jpg')
  a.ui.image.button
    img.ui.tiny.image(src='/assets/tux.png')
  a.ui.image.button
    img.ui.tiny.image(src='/assets/demo.jpg')
  a.ui.image.button
    img.ui.tiny.image(src='/assets/demo2.jpg')
  a.ui.image.button#btnUploadImage
    i.add.icon
  input#image_input(type='file',accept='image/*')
